<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 mx-auto form p-4">
            <div class="py-5 text-center">
                <i class="fas fa-dna fa-4x black-dna mb-3"></i>
                <h1 class="mb-3 font-weight-normal">Add New Player</strong></h1>
            </div>
            <div class="px-2 mb-4">
                <form action="/players" method="POST" class="justify-content-center">
                    <div class="form-group mb-3">
                        <label for="playerName">Player Name</label>
                        <input class="form-control" type="text" id="playerName" name="name" placeholder="Fred Hoiberg">
                    </div>
                    <div class="form-group mb-3">
                        <label for="firstName">Player Image</label>
                        <input class="form-control" type="text" id="playerImage" name="image" placeholder="Image URL">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerPosition">Position</label>
                        <input class="form-control" type="text" id="playerPosition" name="position" placeholder="SG">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerDescription">Description</label>
                        <input class="form-control" type="text" id="playerDescription" name="description" placeholder="The Mayor">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerDOB">Date of Birth</label>
                        <input class="form-control" type="text" id="playerDOB" name="dob" placeholder="Birthday">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerHometown">Hometown</label>
                        <input class="form-control" type="text" id="playerHometown" name="hometown" placeholder="Ames, Iowa">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerCountryn">Country</label>
                        <input class="form-control" type="text" id="playerCountry" name="country" placeholder="USA">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerHeightFeet">Height (Total Feet)</label>
                        <input class="form-control" type="text" id="playerHeightFeet" name="height_feet" placeholder="6">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerHeightInches">Height (Remaining Inches)</label>
                        <input class="form-control" type="text" id="playerHeightInches" name="height_inches" placeholder="4">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerWeight">Player Weight (LBs)</label>
                        <input class="form-control" type="text" id="playerWeight" name="weight" placeholder="200">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        <div class="form-signin">
                            <a href="/players">Go Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>

