<% include ../partials/header %>
<div class="row justify-content-center">
    <div class="col-md-12 text-center my-3">
        <i class="fas fa-dna fa-4x black-dna my-3"></i>
        <h1 style="text-align: center">Edit Comment:</h1>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 mb-2">
        <form action="/players/<%= player_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a href="/players" class="btn btn-secondary"><i class="fas fa-arrow-left mr-2"></i> Go Back</a>
    </div>
</div>
<% include ../partials/footer %>
