<% include ../partials/header %>
<div class="row">
    <div class="col-md-12 text-center">
        <form class="form-signin" action="/passwordreset" method="POST">
            <div class="py-4">
                    <i class="fas fa-dna fa-4x black-dna mb-3"></i>
                    <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
                    <p class="lead">Enter your email address below to reset your password.</p>
            </div>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="text" id="inputEmail" class="form-control mb-3" name="email" placeholder="Email" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        </form>
        <div class="form-signin">
            <a href="/home">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>