html {
  min-height: 100%;
}
/* Body */
body {
  background-color: #f5f5f5;;
}

a {
  color: #000;
}

/* Navbar */
.navbar {
    background-color: #951010;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-brand {
    color: #FFF;
    font-size: 2em;
}

@media only screen and (max-width: 700px) {
  .navbar-brand {
    font-size: 1.5rem;
  } 
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.dna {
  color: #FFF;
  padding-right: 0.25em;
}

.cardinal-icon {
  color: #951010;
}


/* Footer */ 
.footer-dna {
  color: #FFF;
}

.id {
  font-size: 2em;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline /* Forms are on their own line by default */
}

#delete-comment {
    display: inline; /* same as above */
}

/* Footer */
#footer {
  background-color: #951010;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF;
}

#footer .row {
  max-width: 960px;
}

#footer a {
  color: rgba(255,255,255,.5);
  transition: ease-in-out color .15s;
}

/* About Page */
/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}


/**** Page Specific ****/
/* Home Page */
#homeJumbotron {
  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url("../images/hilton_magic.png");
  background-size: cover;
}

.jumbotron-title {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

/* Sign In Page */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* USER - Profile */
.avatar-circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
} 

  /* PLAYER - Show All */
.player-card:hover {
  transform: scale(1.1);        /* Card becomes 10% bigger on hover */
  background-color: #951010;  /* Card background to Cardinal */
  color: #FFF;                /* Card text to white */
  transition: transform .2s;    /* Eased transition for smoother look */
}

.player-card:hover .btn-cyclone {
  background-color: #FFF;
  color: #000;
}

#playerCardImage {
  width: 100%;        /* Fix image width to entirety of card */
  height: 300px;      /* Consistent card image height in desktop and mobile */
  object-fit: cover;  /* Cover card */
}

.btn-cyclone {
  background-color: #951010;
  color: #FFF;
}

/* PLAYER - Show One */
.cyclone-text {
  color: #951010;
}

#yearlyTable th {
  padding: .25rem;
  font-size: 90%;
}

.card-up {
  background-color: aqua;
}

.like-btn {
  font-size: 1.5rem;      /* Size up the check mark */
  vertical-align: middle; /* Override FA default to ensure check is in middle of btn */
}

/* PLAYER - Analytics */
.player-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
} 
/* Admin */
.nav-link .active {
  background-color: #951010;
}

/* Future Implementation - fix first column on charts */
/* th:first-child, td:first-child {
  position: sticky;
  left: 0px;
} */

  /**** General ****/
/* icons */
.black-dna {
  color: #000;
}

.aqua-gradient {
  height: 300px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 51%, rgba(114, 156, 7, 1) 93%);
}

.image {
  margin-top: -150px;
}

.avatar-container {
  width: 90%;
  border: 1px solid #eee;
}