<% include ../partials/header %>
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
            <h1 class="display-4">About Us</h1>
            <p class="lead text-muted mb-0">Combining a love of basketball with a passion for technology.</p>
            <p class="lead text-muted">Created by <a href="https://bootstrapious.com/snippets" class="text-muted"> 
                        <u>Tyler Sullivan</u></a>
            </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
    </div>
    
    <div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">The next generation of basketball</h2>
            <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">Working towards a consistent, sustained competitive advantage</h2>
            <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
        </div>
    </div>
    </div>
    
    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">A team of one, with the help of the internet.</p>
            </div>
            </div>
        
            <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../images/tyler.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Tyler</h5><span class="small text-uppercase text-muted">Founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://twitter.com/CycloneMBB" class="social-link" target="_tab"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/cyclonembb/?hl=en" class="social-link" target="_tab"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/tyler-sullivan-devops/" class="social-link" target="_tab"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/tylersul" class="social-link" target="_tab"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://stackoverflow.com/users/9387790/franchise?tab=profile" class="social-link" target="_tab"><i class="fa fa-stack-overflow"></i></a></li>
                </ul>
                </div>
            </div>
            <!-- End-->
        
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Google</h5><span class="small text-uppercase text-muted">Loyal Assistant</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                </div>
            </div>
            <!-- End-->
            </div>
        </div>
    </div>
    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our Stack</h2>
                <p class="font-italic text-muted">A modern stack for a modern game.</p>
            </div>
            </div>
        
            <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../images/node.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">NodeJS</h5><span class="small text-uppercase text-muted">Create the app.</span>
                <a href="https://nodejs.org/en/" target="_tab" class="btn btn-light px-5 mt-3 rounded-pill shadow-sm">Learn More</a>
                </div>
            </div>
            <!-- End-->
        
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../images/express.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Express</h5><span class="small text-uppercase text-muted">Put it online.</span>
                <a href="https://expressjs.com/" target="_tab" class="btn btn-light px-5 mt-3 rounded-pill shadow-sm">Learn More</a>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../images/bootstrap.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Bootstrap</h5><span class="small text-uppercase text-muted">Make it look neat.</span>
                <a href="https://getbootstrap.com/" target="_tab" class="btn btn-light px-5 mt-3 rounded-pill shadow-sm">Learn More</a>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../images/mongo.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Mongo DB</h5><span class="small text-uppercase text-muted">With persistent data.</span>
                <a href="https://nodejs.org/en/" target="_tab" class="btn btn-light px-5 mt-3 rounded-pill shadow-sm">Learn More</a>
                </div>
            </div>
            <!-- End-->
            </div>
        </div>
    </div>
<% include ../partials/footer %>