<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-lg-0 mb-4">
            <!--Card-->
            <div class="card-container mb-2">
                <div class="card-flip">
                    <!-- Card 2 Front -->
                    <div class="card front">
                        <img src="https://nikonrumors.com/wp-content/uploads/2014/03/Nikon-1-V3-sample-photo.jpg" class="card-img-top img-fluid">
                        <div class="card-block">
                        <h4 class="card-title">Front Card Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <!-- End Card 2 Front -->
            
                    <!-- Card 2 Back -->
                    <div class="card back">
                        <div class="card-header">
                        Featured
                        </div>
                        <div class="card-block">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <!-- End Card 2 Back -->
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-md-8">
            <div class="avatar-container shadow text-center mx-auto card-flip">
                <div class="card front">
                <div class="card-up aqua-gradient"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive bg-white p-3 image" alt="woman avatar">
                </div>
                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title font-weight-bold">Tyler</h4>
                    <hr>
                    <!-- Quotation -->
                    <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                    </p>
                </div>
                </div>
                <div class="card back">
                    <h1>je</h1>
                </div>
            </div>
        </div>
    </div> 
</div>
<% include ../partials/footer %>