<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-lg-0 mb-4">
            <!--Card-->
                <div class="card-container mb-2">
                    <div class="card-flip">
                        <!-- Card 2 Front -->
                        <div class="card front">
                          <img src="https://nikonrumors.com/wp-content/uploads/2014/03/Nikon-1-V3-sample-photo.jpg" class="card-img-top img-fluid">
                          <div class="card-block">
                            <h4 class="card-title">Front Card Title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                        <!-- End Card 2 Front -->
                
                        <!-- Card 2 Back -->
                        <div class="card back">
                          <div class="card-header">
                            Featured
                          </div>
                          <div class="card-block">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                        <!-- End Card 2 Back -->
                      </div>
                    </div>
            </div>  
        </div>
        <div class="col-md-8">
        </div>
    </div> 
</div>
<% include ../partials/footer %>